
<p>
  welcome {{user}}
</p>
<div *ngFor="let book of data" class=" col col-sm ">
  <img src="\assets\images\{{book.id}}.JPG" alt="image not found" height="120" width="100">
  <p>{{book.id}}</p>
  <p>{{book.title}}</p>
  <p>{{book.author}}</p>
  <button (click)="review(book.id)" class="btn btn-secondary">Review</button>
</div>
<a routerLink="/logout"><button>logout</button></a>

<ng-template #tempId let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    
  </div>

  <div class="modal-body">
    <p>Hello Here!!!</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<nz-modal *ngIf="popupVisisble" [(nzVisible)]="popupVisisble" (nzOnCancel)="close()">
  <ng-container *ngTemplateOutlet="tempId"></ng-container>
</nz-modal>







