
<p>
  welcome {{user}}
</p>
<div *ngIf="success ">{{successMsg}} for {{booktitle}}</div>
<div *ngFor="let book of data" class=" col col-sm ">
  <img src="\assets\images\{{book.id}}.JPG" alt="image not found" height="120" width="100">
  <p>{{book.id}}</p>
  <p>{{book.title}}</p>
  <p>{{book.author}}</p>
  <button (click)="review(book.id,book.title)" class="btn btn-secondary">Review</button>
</div>
<a routerLink="/logout"><button>logout</button></a>

<ng-template #tempId >
  

    <div class="form-group">
      <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()" class="form-group text-center border border-light p-5">
      <div class="form-group">
        <label>
          Rating:
          <ngb-rating formControlName="ctrl" [(rate)]="currentRate" ></ngb-rating>
        </label>
      </div>
      <div>
        <label>
          Review:
          <textarea formControlName="review1" rows="4" cols="50"></textarea>
        </label>
      </div>
      
       
      </form>
      </div>


    
      
    
  
</ng-template>

<nz-modal *ngIf="popupVisisble" [(nzVisible)]="popupVisisble" (nzOnCancel)="close()" (nzOnOk)="onSubmit(reviewForm.value)">
  <ng-container *ngTemplateOutlet="tempId"></ng-container>
</nz-modal>







