



<form [formGroup]="submitTableForm"  (ngSubmit)="onSubmitTable(submitTableForm.value)">
    
<div align="center">
    
    <div >
        
        <span><input type="number" formControlName="zero0"  style="text-align:center;width: 50px"  /></span>
       <span><input type="number" formControlName="zero1" style="text-align:center;width: 50px" /></span>
       <span><input type="number" formControlName="zero2" style="text-align:center;width: 50px"/></span>
       <span><input type="number" formControlName="zero3" style="text-align:center;width: 50px"  /></span>
       <span><input type="number" formControlName="zero4" style="text-align:center;width: 50px"  /></span>
       <span><input type="number" formControlName="zero5" style="text-align:center;width: 50px"/></span>
       <span><input type="number" formControlName="zero6" style="text-align:center;width: 50px"/></span>
       <span><input type="number" formControlName="zero7" style="text-align:center;width: 50px" /></span>
       <span><input type="number" formControlName="zero8" style="text-align:center;width: 50px"/></span>      
        
    </div>

    <div >
        <span><input type="number" formControlName="one0" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="one1" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="one2" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="one3" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="one4" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="one5" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="one6" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="one7" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="one8" style="text-align:center;width: 50px"  /></span>
    </div>

    <div >
        <span><input type="number" formControlName="two0"  style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="two1" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="two2" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="two3" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="two4" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="two5" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="two6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="two7" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="two8" style="text-align:center;width: 50px" /></span>
    </div>

    <div >
        <span><input type="number" formControlName="three0" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="three1" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="three2"  style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="three3" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="three4" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="three5" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="three6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="three7" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="three8" style="text-align:center;width: 50px" /></span>
   </div>

    <div >
        <span><input type="number" formControlName="four0" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="four1" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="four2" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="four3" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="four4" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="four5" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="four6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="four7" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="four8" style="text-align:center;width: 50px"/></span>
   </div>

    <div >
        <span><input type="number" formControlName="five0" style="text-align:center;width: 50px"  /></span>
        <span><input type="number" formControlName="five1" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="five2" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="five3" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="five4" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="five5" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="five6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="five7" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="five8" style="text-align:center;width: 50px" /></span>
    </div>

    <div >
        <span><input type="number" formControlName="six0" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="six1" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="six2" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="six3" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="six4" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="six5" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="six6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="six7" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="six8" style="text-align:center;width: 50px" /></span>
    </div>

    <div >
        <span><input type="number" formControlName="seven0" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="seven1" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="seven2" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="seven3" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="seven4" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="seven5" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="seven6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="seven7" style="text-align:center;width: 50px"/></span>
        <span><input type="number" formControlName="seven8" style="text-align:center;width: 50px"/></span>
    </div>

    <div>
        <span><input type="number" formControlName="eight0" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight1" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight2" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight3" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight4" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight5" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight6" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight7" style="text-align:center;width: 50px" /></span>
        <span><input type="number" formControlName="eight8" style="text-align:center;width: 50px" /></span>

</div>
</div>

<div align="center"> <button type="submit">Submit</button></div>


</form>